<header>
<div class="indice1">
        <h1>El hotel misterioso</h1>
        <a href='@Url.Action("Creditos")'><img src="/logo.jfif" width="200"></a>
</div>
<div class="indice">
        <h4><a href='@Url.Action("Index")'>Inicio</a></h4>
        <h4><a href='@Url.Action("Tutorial")'>Tutorial del juego</a></h4>
        <h4><a href='@Url.Action("Comenzar")'>Comenzar juego</a></h4>
        <h4><a href='@Url.Action("Creditos")'>Creditos</a></h4>
</div>
</header>

<div class="contenido">
<h1>El creador de esto fue Ramiro Sued, estudiante de la secundario ORT Almagro</h1>
</div>

<div class="imagenMia">
<img src="/yooo.jpg" width="300">
</div>