@{
    ViewData["Title"] = "Index";
}

<header>
    <div class="indice1">
        <h1>El hotel misterioso</h1>
        <a href='@Url.Action("Index")'><img src="logo.jfif" width="200"></a>
    </div>
<div class="indice">
        <h4><a href='@Url.Action("Index")'>Inicio</a></h4>
        <h4><a href='@Url.Action("Tutorial")'>Tutorial del juego</a></h4>
        <h4><a href='@Url.Action("Comenzar")'>Comenzar juego</a></h4>
        <h4><a href='@Url.Action("Creditos")'>Creditos</a></h4>
</div>
</header>

<div class="eslogan">
    <img src="eslogan.png">
</div>

<div class="imagenes">
<img src="hotel1.jpg">
<img src="hotel3.jpg">
<img src="hotel2.jpg">
</div>